<p>After four years in a rent-controlled flat on Potrero Hill, Brian and Sarah Grzybowski got evicted, with their landlady saying she needed their apartment for her grown daughter.</p>

<p>Months later, they stumbled across their former apartment advertised as a vacation rental. They investigated further and found it on Airbnb, FlipKey, Craigslist, Cozy and Zeus Living at prices ranging from $185 a night to $5,500 a month. Their rent was $2,950.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="../static/images/econ/airbnb0724_econ_PH2.jpg">
    	<p class="caption">A Zeus Property sign is posted outside the apartment where Brian and Sarah Grzybowski used to live until their eviction last year. Besides on Zeus Living, the couple found it listed on Airbnb, FlipKey, Craigslist and Cozy.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
    </div>
</div>

<p>“We knew the way they got us out was hinky,” Brian said. Their landlady had characterized the maneuver as an owner-move-in eviction, a legal maneuver around renter protections that requires a landlord or a family member to have “honest intent” to live there three years.</p>

<p>Sarah put it more simply: “It was disappointing,” she said.</p>

<div class="float-img-container">
    <div class="float-img vertical left">
        <img src="../static/images/econ/airbnb0724_econ_PH3.jpg">
    	<p class="caption">Sarah Grzybowski pulls up Airbnb listings in her neighborhood; she found her old apartment listed after her landlady evicted her so her daughter could move in.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
    </div>
</div>

<p>Their case encapsulates critics’ biggest beef with vacation rentals: Landlords and tenants have an incentive to turn regular housing into more-lucrative temporary rentals. Housing advocates say there are thousands of such conversions that drive up rents and increase scarcity.</p>

<p>Our analysis showed that the number is more likely in the high hundreds. Economists and city experts say short-term rentals, while a factor, are not the biggest one in San Francisco’s housing issues.</p>

<p>“You cannot say that Airbnb (and other vacation sites) are causing the housing crisis, but they probably are exacerbating it,” said Jake Wegmann, a planning professor at the University of Texas at Austin who wrote an <a href="https://gallery.mailchimp.com/99e07c31ccd36dbdad1917d47/files/Jake_Wegmann_Air_Bnb.pdf">analysis of vacation rentals’ impact</a> in San Francisco and four other cities.</p>

<p>The impact is strongest at the micro level — in popular neighborhoods where vacation rentals are heavily concentrated. The Mission, SoMa, Western Addition/North of the Panhandle, Bernal Heights, the Richmond District and Noe Valley have the most listings on Airbnb.</p>

<div id="airbnb_database"></div>

<p>“The same neighborhoods undergoing the strongest gentrification pressures are also where some of the biggest concentrations of Airbnb units are,” Wegmann said. “In the Mission or North Beach, it’s adding fuel to the fire, but not in the Excelsior or Outer Mission.”</p>

<div class="float-img-container">
    <div class="float-img vertical right">
        <img src="../static/images/econ/airbnb0724_econ_web.jpg">
    	<p class="caption">Zillow chief economist Svenja Gudell answers questions during an interview at the Houston Chronicle, Tuesday, Sept. 15, 2015, in Houston.<span class="byline"> Cody Duty, Houston Chronicle</span></p>
    </div>
</div>

<p>On the other hand, Wegmann said, “Airbnb would say it’s helping people cope with the housing crisis by giving a means to bring in extra income, and I’m sure that’s true for some people. But not everyone is in a position to do that.”</p>

<p>Svenja Gudell, chief economist at housing website Zillow, said vacation rentals have an impact. Zillow shows about 2,000 units for rent in San Francisco. That number may understate the total because big buildings often just post one ad for several available apartments, she said.</p>

<p>“Say there are 1,000 units” functioning as year-round vacation rentals, she said. “If they otherwise would be long-term rentals, they could make a considerable dent if you added them to the overall stock. It’s definitely enough to have an impact.”</p>

<p>Zillow shows San Francisco’s median rent at $4,528, the highest in the country.</p>

<p>But most economists finger the same culprit for that — and it’s not Airbnb. “By far the biggest aggravating factor is the very low pace of housing supply addition, going back half a century,” Wegmann said. “San Francisco has been so far behind for so long.”</p>
