<p>After fouryears in a rent-controlled flat on Potrero Hill, Brian and Sarah Grzybowski were evicted, with their landlady saying she needed their apartment for her grown daughter.</p>

<p>Months later, they stumbled across their former apartment advertised as a vacation rental. They investigated further and found it listed on Airbnb, FlipKey, Craigslist, Cozy and Zeus Living at prices ranging from $185 a night to $5,500 a month. Their rent had been $2,950.</p>

<p>“We knew the way they got us out was hinky,” Brian said. Their landlady had characterized the maneuver as an owner-move-in eviction, a legal maneuver around renter protections that requires a landlord or a family member to have “honest intent” to live there three years.</p>

<div class="float-img-container">
    <div class="float-img vertical right">
        <img src="{{ url_for('static', filename='images/econ/airbnb0724_econ_PH3.jpg') }}">
    	<p class="caption">Sarah Grzybowski pulls up Airbnb listings in her neighborhood; she found her old apartment listed after her landlady evicted her so her daughter could move in.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
    </div>
</div>

<p>Sarah put it more simply: “It was disappointing,” she said.</p>

<p>Their case encapsulates critics’ biggest beef with vacation rentals: Landlords and tenants have an incentive to turn regular housing into more-lucrative temporary rentals. Housing advocates say there are thousands of such conversions that drive up rents and increase scarcity.</p>

<p>Our analysis showed that the number is more likely in the high hundreds. Economists and city experts say short-term rentals, while a factor, are not the biggest one in San Francisco’s housing issues.</p>

<p>“You cannot say that Airbnb (and other vacation sites) are causing the housing crisis, but they probably are exacerbating it,” said Jake Wegmann, a planning professor at the University of Texas at Austin who wrote an <a href="https://gallery.mailchimp.com/99e07c31ccd36dbdad1917d47/files/Jake_Wegmann_Air_Bnb.pdf" target="_blank">analysis of vacation rentals’ impact</a> in San Francisco and four other cities.</p>

<p>The impact is strongest at the micro level — in popular neighborhoods where vacation rentals are heavily concentrated. The Mission, SoMa, Western Addition/North of the Panhandle, Bernal Heights, the Richmond District and Noe Valley have the most listings on Airbnb.</p>

<div id="airbnb_database"></div>

<p>“The same neighborhoods undergoing the strongest gentrification pressures are also where some of the biggest concentrations of Airbnb units are,” Wegmann said. “In the Mission or North Beach, it’s adding fuel to the fire, but not in the Excelsior or Outer Mission.”</p>

<p>On the other hand, Wegmann said, “Airbnb would say it’s helping people cope with the housing crisis by giving a means to bring in extra income, and I’m sure that’s true for some people. But not everyone is in a position to do that.”</p>

<p>Svenja Gudell, chief economist at housing website Zillow, said vacation rentals have an impact. Zillow shows about 2,000 units for rent in San Francisco. That number may understate the total because big buildings often just post one ad for several available apartments, she said.</p>

<div class="float-img-container">
    <div class="float-img vertical right">
        <img src="{{ url_for('static', filename='images/econ/airbnb0724_econ_web.jpg') }}">
    	<p class="caption">Zillow chief economist Svenja Gudell says vacation rentals have an impact on the housing crisis.<span class="byline"> Cody Duty, Houston Chronicle</span></p>
    </div>
</div>

<p>“Say there are 1,000 units” functioning as year-round vacation rentals, she said. “If they otherwise would be long-term rentals, they could make a considerable dent if you added them to the overall stock. It’s definitely enough to have an impact.”</p>

<p>Zillow shows San Francisco’s median rent at $4,528, the highest in the country.</p>

<p>But most economists finger the same culprit for high rents — and it’s not Airbnb. “By far the biggest aggravating factor is the very low pace of housing supply addition, going back half a century,” Wegmann said. “San Francisco has been so far behind for so long.”</p>

<p>Another way to look at vacation rentals is in comparison to new units. The city produced a net of just under 3,000 new housing units last year. Its 10-year average production is 2,244, according to a Planning Department report.</p>

<p>“It doesn’t seem sustainable to undercut what you try to build” by removing units from the market,” said Roy Samaan, a research and policy analyst at the Los Angeles Alliance for a New Economy, who wrote a report critical of Airbnb’s effect on that city.</p>

<p>Airbnb commissioned an <a href="http://blogs.wsj.com/developments/2015/03/30/airbnb-pushes-up-apartment-rents-slightly-study-says/" target="_blank">academic study</a> last year that found its impact on rents in San Francisco and New York was minimal. But the company declined to share the study or allow the researcher to discuss it.</p>

<p>The Grzybowski story has nuances — some of which illuminate landlords’ perennial complaints with rent control, which could lead them to remove units from the market whether or not vacation rentals are a factor.</p>

<p>Their former landlady, Sadie Graham, 85, said her daughter did move from Oregon but couldn’t inhabit the former rental because it needed so much work from damage caused by the tenants and their cats. (The Grzybowskis dispute that, saying they left the flat in the same condition as they found it.) After four months bunking with her mother, the daughter decided to move back to Oregon for other reasons. Graham said — and the Grzybowskis concurred — that she didn’t raise their rent in four years.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/econ/airbnb0724_econ_PH2.jpg') }}">
	<p class="caption">A Zeus Property sign is posted outside the apartment where Brian and Sarah Grzybowski used to live until their eviction last year. Besides on Zeus Living, the couple found it listed on Airbnb, FlipKey, Craigslist and Cozy.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
</div>

<p>She has now finished renovations and turned the place over to a property management company called Zeus Living,trying to recoup her repair costs, she said. Zeus rents it for 30-day minimums, she said, making it legal under San Francisco’s short-term rental laws.</p>

<p>But critics say that can be a ploy.</p>

<p>“We routinely see landlords falsely claim they are renting for 30 days to get around the short-term rental laws,” said Joe Tobener, the Grzybowskis’ attorney. “Some have even gone so far as having tourists sign fake 30-day leases. But once you go to the Airbnb listing, you see that many different tourists have stayed in any given 30-day window.”</p>

<p>Graham said her experience with the Grzybowskis soured her on being a landlord.</p>

<p>“It will never, ever be a rental; I don’t want to go through that again,” she said. “I’m not going to deal no more with tenants. I don’t blame landlords who want to do this in and out (with temporary rentals). That way, if it doesn’t work out, the renters are gone.”</p>