<p>Zain Memon, 28, and Duncan Graham, 26, both tech workers, wanted a way to afford San Francisco’s astronomical rents.</p>

<p>So they tried an experiment. They rented a four-bedroom house in the Mission two years ago. After each taking a bedroom, they packed the other two rooms with eight bunk beds, listing their Treat St. Clubhouse on Airbnb for $55 a night.</p>

<p>“We’re renting out at cost to provide an affordable place for locals and visitors to stay,” said Memon, who met his girlfriend Marion, a native of France, when she stayed there last year. “We’ve made lifelong friendships.” It was so successful that last year they rented another flat to turn into a hostel, calling it the Sunnyside Travel House. “It has a more wholesome and chill vibe; Treat St. is more rowdy and more of an anarchy house,” he said.</p>

<div class="inline-img">
    <img src="../static/images/hostels/04.jpg">
    <p class="caption">The Treat St. Clubhouse is located in a four-bedroom apartment in this Mission District building.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
</div>

<p>At Sunnyside, located in Japantown near Alamo Square, they installed two resident managers and put 10 bunk beds in the other two bedrooms.</p>

<p>“In summer we’re really full,” said Hana Nobel, one of the two Sunnyside managers who have their own rooms in exchange for cleaning, laundry, stocking supplies, greeting guests and handling inquiries. She doesn’t get paid but most weeks she feels like it’s a fair exchange. “It’s mostly tourists; people here for conferences; some who are visiting friends,” she said.</p>

<div class="float-img-container">
	<div class="float-img left">
	    <img src="../static/images/hostels/03.jpg">
	    <p class="caption">Carley Rutledger (right) and Jiran Dowlati work on their laptops in the common area of the Treat St. Clubhouse, which can accommodate eight guests like a hostel.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
	</div>
</div>

<p>Sunnyside and Treat St. Clubhouse are among dozens of informal Airbnb hostels that cram visitors into houses and apartments at rates ranging from $50 to $80 a night a bunk. The site’s worldwide reach and help with calendaring and payment processing gives these hostels a leg up.</p>

<p>Home-based hostels appear to be on the rise, with 27 Airbnb hosts who offer two or more shared rooms, for a total of 220 listings. Last year, 13 hosts listed 107 shared rooms; in 2014, there were 58 shared rooms in hostels. (These numbers exclude hosts who offer just one space in a shared room.)</p>

<p>Conversely, the number of hosts with multiple homes declined significantly, after Airbnb said it would jettison those who appeared to be illegal operators.</p>

<div class="inline-graphic" style="max-width: 600px">
    <img src="{{ url_for('static', filename='graphics/hostels/01.jpg') }}">
</div>

<p>If the hostel-like rentals have a permanent resident and register with the city, they could be legal under the short-term rental law, said Kevin Guy, director of the Office of Short-Term Rentals. However, home-based hostels still could violate planning, zoning and building code rules on density and safety, Guy and Scott Sanchez, San Francisco zoning administrator, agreed.</p>

<div class="float-img-container">
	<div class="float-img right">
	    <img src="../static/images/hostels/06.jpg">
	    <p class="caption">Kevin Guy, director of the Office of Short-Term Rentals, says hostel-like rentals could be legal if they have a permanent resident and register with the city, but could still violate planning, zoning and building code rules on density and safety.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
	</div>
</div>

<p>“There’s been an uptick in complaints over the past few years about these hostels on Airbnb,” Sanchez said, noting 49 complaints since October 2014, with 15 still active. “We’ve had cases where they changed the house rules to be more compliant.”</p>

<p>Basically, packing in a lot of people is OK if they cooperate, less so if it’s a top-down structure. If more than five unrelated people share a dwelling, inspectors look at whether they have control over the membership and composition, whether they purchase and prepare food collectively, and whether they determine their own rules and organizations, he said.</p>

<p>Some of the informal hostels seem to be big businesses.</p>

<p>HackerHomes consists of a dozen hostels for tech workers in apartments or houses from San Francisco to San Jose. The San Francisco Tenants Union, the Housing Committee of San Francisco and a neighbor are suing the chain and its proprietors.</p>

<div class="float-img-container">
	<div class="float-img left">
	    <img src="../static/images/hostels/05.jpg">
	    <p class="caption">Political campaign director Jennifer Fieber of the San Francisco Tenants Union, which is suing the operators of one of the apartments in the building on the left for charging $1,000 to $1,800 a month for bunk bed space.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
	</div>
</div>

<p>Jennifer Fieber, the Tenants Union political campaign director, said the hostel residents, who pay $50 or more a night, are being exploited. “Nobody should be paying that much money to have no privacy and live in these conditions,” she said. She’s even sympathetic to the landlords. “In this situation (the HackerHomes proprietors) are rent-gouging the landlords, by renting for one price and then making a profit,” she said.</p>

<p>Her attorney, Mark Hooshmand, said even though the hostels provide cheaper options for multiple people, “they are still removing long-term housing from the market (and are) makeshift solutions that violate the laws and operate under the radar.”</p>

<p>For Sunnyside and Treat St. Clubhouse, both landlords are aware of the hostel rentals, Memon said, and charge a slight premium because of the number of visitors. The hostels cover all the electricity and water costs, which are considerable. They’ve obtained short-term rental permits and researched zoning laws to make sure they’re in compliance, he said.</p>

<div class="inline-img">
    <img src="../static/images/hostels/02.jpg">
    <p class="caption">Philipp Pechmann packs his bag before leaving his $55-per-night bunk at the Treat St. Clubhouse.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>
</div>

<p>Some quick back-of-the-envelope math shows that Sunnyside would bring in $200,000 a year at full occupancy, or more than $16,000 a month – triple what it might command as a regular rental, even in San Francisco’s overheated market Treat St. would generate $160,000 a year. But Memon, who doesn’t know the occupancy rate, said he and Graham don’t profit from the hostels other than covering their living expenses – in fact, they cannot legally make more than their rent, since the units are rent-controlled.</p>

<p>“Any month we’re over, we re-invest back in,” he said. “We’ll stock the fridge a little better. For a few months, we had kombucha regularly at Sunnyside. Treat is more of a party house, so we stock alcohol regularly, depending on how we’re doing.”</p>