<p>Retired artists Toby Klayman and Joe Branchcomb, both 81, host on Airbnb. They’ve had “a fantastic amount of marvelous people stay in our spare room,” said Klayman, whose vivid abstracts decorate their longtime Bernal Heights home. “We absolutely love Airbnb. It impacts our style of living enormously to have an extra $1,600 a month or so to pay the bills.”</p>

<p>The lovefest is mutual — so much so that the vacation-rental company features the couple in ad campaigns. Klayman and Branchcomb embody the image Airbnb wants to project of its hosts: regular people making extra income and forging international friendships.</p>

<p>A different image of Airbnb is put forth by housing activists — a graphic portrait of rapacious landlords who evict tenants in favor of lucrative short-term rentals, turning badly needed housing into tourist hotels.</p>

<p>Nine years after its origin as crash space on inflatable beds in a SoMa bachelor pad, Airbnb is a runaway success story with a $30 billion valuation and some 2.3 million rooms — far exceeding any hotel chain.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/overview/2.jpg') }}">
    <p class="caption">Joe Branchcomb (in white shirt) greets Dirk De Kok upon his arrival.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>
</div>

<p>But its breakneck growth is hitting regulatory roadblocks worldwide. Airbnb’s relationship with its hometown is particularly fraught. It’s a flash point for raging debates about the city’s housing crisis, gentrification, “disruptive” businesses and tech companies’ civic impact. The company is now suing the city, joined by rival HomeAway, over San Francisco’s attempt to enforce a vacation-rental law that Airbnb itself helped write. Airbnb says San Francisco has gone too far by putting it and its rivals on the hook for severe penalties when their hosts don’t register with the city — a requirement that most hosts flout.</p>

<p>Airbnb’s impact here isn’t easy to quantify. The company cherry-picks data and anecdotes that burnish its profile, while staying mum about specifics that would reveal just how many homes are being turned into full-time hotels.</p>

<p>The Chronicle’s third annual dive into listings data on Airbnb shows that visitors continue to flock to the rentals and that an increasing number of locals offer them — often in defiance of city requirements to register these impromptu inns and limit how often they rent whole homes to travelers.</p>

<p>While Airbnb’s listings long ago leapfrogged those of older rivals HomeAway and FlipKey, those companies also have a healthy presence here, albeit one that’s harder to pinpoint as their websites aren’t as cleanly organized.</p>

<p>Airbnb has 5,504 active properties in San Francisco, of which about 58 percent are entire homes. HomeAway and FlipKey experienced big surges in their number of local listings, to 1,313 and 915, respectively.</p>

<p>Our analysis showed that Airbnb is living up to a promise it made in April to <a target="_blank" href="http://www.sfgate.com/business/article/Airbnb-to-purge-illegal-hotels-from-San-Francisco-7223613.php">purge hosts with multiple properties</a> if they were commercial operators. About 25 percent fewer entire homes controlled by multiple operators appeared on the site this year. However, in New York after the company weeded out hundreds of multiple-operators, independent researchers said it was <a target="_blank" href="http://fortune.com/2016/02/11/airbnb-listings-research-data/">manipulating its data to influence legislation</a> and noted that some of the listings soon reappeared on the site.</p>

<div id="airbnb_sankey"></div>

<p class="text-hed">Accelerating growth</p>

<p>Data firm <a target="_blank" href="http://www.connotate.com/platform/#utm_source=SFChr16&utm_medium=SFChr16&utm_campaign=SFChr16">Connotate</a> extracted information from the websites of Airbnb, HomeAway and FlipKey in mid-May, the same time we extracted similar data in <a target="_blank" href="http://www.sfchronicle.com/airbnb-impact-san-francisco-2015/#1">2015</a> from all three sites and from Airbnb in <a target="_blank" href="http://sfchron.cl/Airbnb">2014</a>.</p>

<p>At first glance, Airbnb’s listings and prices appeared to have surged dramatically in the 12 months. However, a couple of thousand listings were Super Bowl wannabes — people who listed between November and the big game, some asking for thousand-dollar rents for a night in San Francisco without necessarily finding any takers. Removing all locations that had zero reviews — indicating that they probably drew no visitors — revealed a different story.</p>


<p>We removed zero-review listings for previous years to get an apples-to-apples comparison of growth. Airbnb’s active listings grew a healthy 29 percent, from 4,258 a year ago to 5,504 now. Growth from 2014 to 2015 was 21 percent.</p>

<p>Prices averaged across all property types (whole homes, private rooms and shared rooms) were static at $197. Entire homes showed a tad more price growth, rising 5 percent from $248 to $261.</p>

<p>FlipKey, a subsidiary of TripAdvisor, saw even more dramatic growth. It vaulted from 359 listings last year to 915.</p>

<p>Expedia’s HomeAway (which also owns VRBO and shows the same listings on both sites) likewise grew dramatically from 1,001 listings to 1,313.</p>

<div class="inline-graphic">
    <img src="{{ url_for('static', filename='graphics/overview/01.jpg') }}">
</div>

<p class="text-hed">Frequent guests</p>

<p>Do most hosts only occasionally “share” the home in which they live, as Airbnb frequently asserts? Or are there legions of professional hosts who have turned apartments into year-round illegal hotels, depriving local residents of much-needed housing, as activists say? And do hosts comply with city law that limits rental of entire homes to 90 days a year?</p>

<p>Airbnb and FlipKey could easily provide the answers, as they know exactly how often each listing is rented because they arrange the transactions. HomeAway acts as the middleman for about half of its listings; for the others, it acts more as a classified listing service. However, HomeAway says its properties are largely second homes. Its executives acknowledge that most HomeAway listings break San Francisco’s laws that limit vacation rentals to permanent primary residences. FlipKey listings also are heavily tilted to entire homes.</p>

<div class="full-width-img">
    <img src="{{ url_for('static', filename='images/overview/4.jpg') }}">
    <p class="caption">Joe Branchcomb (right) and Toby Klayman chat with Jeff Wolski and Dirk De Kok in their Bernal Heights home. The hosts invited De Kok, a San Francisco resident originally from Amsterdam who was their first Airbnb guest, to have coffee and chat with Wolski, who was visiting from Amsterdam.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>
</div>

<p>Absent the companies’ cooperation, looking at visitor reviews provides the best way to deduce how often listings are rented.</p>

<p>That’s how we found 747 entire homes on Airbnb with enough reviews in a year (18 or more) to suggest that they violate the city’s 90-day annual cap on entire-home rentals. That includes 342 properties that are so popular (36 or more annual reviews) that it appears they are full-time hotels. Almost a third of the entire-home inventory, or 1,041 properties, have nine or fewer annual reviews, implying moderate or light usage.</p>

<p>Airbnb says some of these are actually master bedroom suites, which would be legal to rent out all year if a resident is present. “There’s a mismatch between how the city regulates and how our platform operates,” said David Owen, Airbnb’s head of policy strategy. “There are many folks who advertise a discrete portion of their home” as an entire house. That’s one reason Airbnb doesn’t want to kick off entire-home rentals once they exceed the 90-day cap, he said.</p>

<p>HomeAway said in a statement that it hopes to collaborate with the city on a system “to increase compliance and protect short-term rental homeowners.” FlipKey said in an email that it collects and remits San Francisco’s hotel tax and uses its website to notify hosts about the registration requirement.</p>

<div class="inline-graphic">
    <img src="{{ url_for('static', filename='graphics/overview/02.jpg') }}">
</div>

<p class="text-hed">Multiple properties</p>

<p>San Francisco says people can rent out only their own home to travelers, so having multiple entire-home listings on Airbnb is a red flag. (Someone could legitimately have more than one room in their home, or list a guest room plus the entire home when they travel.)</p>

<p>Airbnb pledged in April to root out “illegitimate commercial operators” who list multiple separate homes.</p>

<p>It appears to have done so. Last year, 192 hosts listed two or more entire homes, totaling 530 homes. This year, 143 hosts with two or more homes listed 390 entire homes — a 26 percent decrease. The most prolific appeared to be either legal hotels, such as the Donatello time-share hotel, or property management services. Still, there remain dozens of hosts who have two or more entire homes on the site. Investigating each one is a time-consuming task, so questions linger about whether these include homes that were turned into full-time hotels.</p>

<p>Meanwhile, the number of shared rooms on Airbnb doubled, with dozens of informal bunk-bed hostels springing up to offer cheap crash space — a throwback to the very first Airbnb listing.</p>
