<p>“Stunning, spacious corporate rental with panoramic views” is how Sherry Manning’s ad describes one of her five vacation rentals listed on HomeAway/VRBO. The Maryland resident has had vacation rentals in San Francisco for several years, since before they were legalized.</p>

<p>Manning said she always tried to comply with laws, registering with the treasurer’s office as a small business and remitting San Francisco’s 14 percent hotel tax, she said. Then San Francisco made vacation rentals legal — and she didn’t qualify because she doesn’t live here.</p>

<p>After the city – which has been working to beef up enforcement — cited her, she paid a penalty and switched all her rentals to be 30 days or more, which makes them legal. Monthly rents add up to less than daily rates, but she’s sanguine about it.</p>

<p>“Our income is lower than it was, but you can’t fight City Hall,” she said. “I have loved this business; it was a real challenge for me when all of a sudden the city said I can’t continue. But I’m a great one for pivoting.”</p>

<p>Turning houses into full-time hotels is the most egregious violation of San Francisco’s rules for short-term rentals, which the city greatly expanded in February 2015. But there are other problems — and new changes coming to how existing rules are enforced.</p>

<p class="text-hed">Exceeding rental cap</p>

<p>San Francisco limits entire-home rentals to 90 days a year. Airbnb showcases 747 whole-house listings — 23 percent of all whole-home listings — that appear to exceed this cap. While numbers could not be determined for FlipKey and HomeAway, many of their property descriptions make clear that units are available year round.</p>

<p>Airbnb says that many properties called “entire homes” may in fact be suites with private entrances, which would be legal to rent all year. It points to hosts such as Eric Menard, 57, and his partner Peter Linden, 63, who needed a way to keep up with living costs after illness forced them to close their Market Street antiques shop.</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/scofflaws/2.jpg') }}">
    <p class="caption">Airbnb host Eric Menard (right) offers a map and suggestions for guests Amanda Vissicchio and Jeffrey Yanchek, visiting from Connecticut.<span class="byline"> Photo: Liz Hafalia, The Chronicle</span></p>
</div>

<p>“We were desperate to find something to make money,” Menard said. Their Merced Manor house already had a ground-floor guest suite with a separate entrance and kitchen, and they had lots of lovely midcentury modern furniture to spiff it up. Four years ago, they turned the suite into an Airbnb listing that now commands $225 a night.</p>

<p>“Without this income, we couldn’t pay our mortgage,” said Menard, a native of Montreal. Linden is from Copenhagen, and the two appreciate the chance to connect with international travelers and use their French, Danish and German language skills. When they don’t have visitors, they open the door to their guest quarters and the suite becomes part of their home, Menard said. “That’s where we have Christmas and other holidays and parties.”</p>

<p>Their house’s configuration makes it legal for them to rent the unit as often as they want, since they are present during the rentals. But they list it as an entire house on Airbnb since it has its own entrance and kitchen. They were among the first hosts to register with the city in February 2015.</p>

<p class="text-hed">Registration</p>

<p>San Francisco requires vacation-rental hosts to obtain a business license and then register with the Office of Short-Term Rentals. Only 1,472 have done so. That leaves many thousands who are ignoring this requirement.</p>

<div class="float-img-container">
    <div class="float-img right vertical">
        <img src="{{ url_for('static', filename='images/scofflaws/3.jpg') }}">
    	<p class="caption">At the Planning Department, Simon Miller was pleasantly surprised by the registration system for his short-term rental unit.<span class="byline"> Photo: Liz Hafalia, The Chronicle</span></p>
    </div>
</div>

<p>To up the ante on compliance, the Board of Supervisors unanimously passed an amendment to penalize Airbnb, HomeAway and other companies over listings that lack a registration number. <a target="_blank" href="http://www.sfgate.com/business/article/Airbnb-seeks-to-block-new-SF-law-8328045.php">Airbnb, later joined by HomeAway, sued the city</a>, claiming that the penalties violate the First Amendment and two federal laws shielding Internet companies from liability for content on their sites. The case will be heard in September. Meanwhile, San Francisco lawmakers are weighing <a target="_blank" href="http://www.sfgate.com/business/article/SF-may-revise-vacation-rental-law-to-block-Airbnb-8355442.php">another revision to address the lawsuits’ issues</a>, and enforcement is on hold.</p>

<p>Airbnb, which had heavy input into the law and applauded its passage, now decries the registration system as “broken” because hosts must go through several steps, including an in-person appointment, to register.</p>

<p>However, the system has been streamlined — the business license and appointments for meetings can be handled online — and more simplification is in the works. On a recent afternoon, Cindy Tong, a planning technician, spent about 20 minutes with each applicant to verify documents proving their residency.</p>

<p>“I wanted to do everything on the up and up,” said Simon Miller, a new host registering so he and his wife, Simone, could rent a room in their Sunset District home to travelers for about $150 a night when they don’t have friends or family staying over.</p>

<p>Miller said he was pleasantly surprised by the registration system. “I’m a building contractor, so I’m used to bureaucracy,” he said. “This was actually the easiest permit I’ve ever pulled.”</p>

<p>Registration numbers generally appear on the second page of Airbnb listings. The Chronicle couldn’t get a firm reading on how many listings on any of the sites show the number. However, the Office of Short-Term Rentals says that most of the registered hosts are on Airbnb, and spot checks turned up very few registration numbers on HomeAway and FlipKey.</p>

<p class="text-hed">Hotel taxes</p>

<p>Short-term rentals must remit the city’s 14 percent hotel tax on all guest stays. Airbnb has been eager to do so, both here and in hundreds of cities worldwide, to help legitimize its business. It says it remitted $14.5 million in San Francisco last year, which implies that it did about $100 million in business here. FlipKey said it has been remitting the tax on behalf of hosts for 17 months. HomeAway leaves it to hosts to remit the tax.</p>

<p>The Treasurer’s Office said it brought in $19 million in hotel tax from vacation rentals last year, meaning $4.5 million came from non-Airbnb hosts. By law, the treasurer cannot identify specific taxpayers.</p>

<p class="text-hed">Personal property tax</p>

<div class="inline-img">
    <img src="{{ url_for('static', filename='images/scofflaws/5.jpg') }}">
    <p class="caption">Colleen Kavanagh (center) hands plates to daughter Kelsey Puknys, 15, while in the kitchen with son Liam Puknys, 18.<span class="byline"> Photo: Lea Suzuki, The Chronicle</span></p>
</div>

<p>In March, San Francisco Assessor Carmen Chiu wrote to registered vacation rental hosts, asking them to inventory all the furniture, appliances, linens and other items they use for their guests so that she could levy a “business personal property tax” of slightly over 1 percent of its depreciated value. Hosts — and Airbnb — were outraged at having to tally up spoons and napkins, decrying it as a bureaucratic maneuver that violates privacy. A total of <b>TK</b> sent in the form.</p>
