<div class="dont-miss">
	<hr style="width:100%;margin-top:0;">
	<div class="story ">
		<div class="padded">
			<a href="http://www.sfchronicle.com/airbnb-impact-san-francisco-2015/#1" target="_blank">
				<img src="http://www.sfchronicle.com/img/pages/article/opengraph_default.jpg">
			<h4>2015: Airbnb story</h4>
			</a>
		</div>
	</div>

	<div class="story ">
		<div class="padded">
			<a href="http://sfchronicle.com" target="_blank">
				<img src="http://www.sfchronicle.com/img/pages/article/opengraph_default.jpg">
			<h4>2014: Airbnb story</h4>
			</a>
		</div>
	</div>

	<div class="story ">
		<div class="padded">
			<a href="http://sfchronicle.com" target="_blank">
				<img src="http://www.sfchronicle.com/img/pages/article/opengraph_default.jpg">
			<h4>Link to third story</h4>
			</a>
		</div>
	</div>

	<div class="story ">
		<div class="padded">
			<a href="http://sfchronicle.com" target="_blank">
				<img src="http://www.sfchronicle.com/img/pages/article/opengraph_default.jpg">
			<h4>Link to fourth story</h4>
			</a>
		</div>
	</div>

</div>