{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Overview{% endblock %}
{% block hearst_date %}2016-07-24 00:00:00{% endblock %}
{% block author %}Carolyn Said, Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div class="background-img overview">
		    <div class="dim"></div>
			<div class="over-img">
				<h1 class="title long">Airbnb and rivals flourish in San Francisco amid regulatory crackdown</h1>
				<p class="author">By Carolyn Said</p>
				<p class="date">July 24, 2016</p>
			</div>
		</div>
	</div>

	<p class="caption landing">A man walks down Texas Street in Potrero Hill where Brian and Sarah Grzybowski live in San Francisco, Calif. on Saturday, June 18, 2016. The Grzybowski's rented a home for five years until their landlord evicted them last year.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>

	{% include '_text/overview.html' %}


	<div class="dont-miss">
		<a href="{{ url_for('scofflaws') }}">
			<button>Next story</button>
			<div class="story scofflaws">
				<div class="next-story">Most hosts ignore vacation-rental laws in San Francisco</div>
				<div class="dim"></div>
			</div>
		</a>
	</div>

</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script>
	$(document).ready(function() {
		App.init();
	});

	$(document).foundation();

	var pymParentSankey = new pym.Parent('airbnb_sankey', 'http://projects.sfchronicle.com/2016/airbnb2016/sankeyoverview/index.html', {});

</script>

{% endblock %}
