{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Overview{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div class="background-img overview">
		    <div class="dim"></div>
			<div class="over-img">
				<p class="specialhead">Chronicle Investigation</p>
				<h1 class="title long">Airbnb and rivals flourish in SF amid regulatory crackdown</h1>
				<p class="author">By <a href="mailto:csaid@sfchronicle.com">Carolyn Said</a></p>
				<p class="date">July 22, 2016</p>
			</div>
		</div>
	</div>

	<p class="caption landing">A man walks down Texas Street, where Brian and Sarah Grzybowski had to find a new home (right) after being evicted from another Potrero Hill apartment, which their landlady turned into a vacation rental.<span class="byline"> James Tensuan, Special to The Chronicle</span></p>

	{% include '_text/overview.html' %}


	<div class="dont-miss">
		<a href="{{ url_for('scofflaws') }}">
			<button>Next story</button>
			<div class="story scofflaws">
				<div class="next-story">
					<p>Most hosts ignore vacation-rental laws in San Francisco</p>
				</div>
				<div class="dim"></div>
			</div>
		</a>
	</div>

</main>
{% endblock %}

{% block javascript %}

<script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {
		App.init();
	});

	var pymParentSankey = new pym.Parent('airbnb_sankey', 'http://projects.sfchronicle.com/2016/airbnb2016/sankeyoverview/index.html', {});

</script>

{% endblock %}
