{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Methodology{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-07-24 00:00:00{% endblock %}
{% block author %}Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container top-margin">
		<div>
			<h1 class="title long">Methodology</h1>
			<p class="whatif-box">How The Chronicle crunched the Airbnb data</p>
			<p class="author">By Carolyn Said</p>
			<p class="date">July 24, 2016</p>
		</div>
	</div>

	{% include '_text/methodology.html' %}

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Carolyn Said', 'csaid', 'CSaid' ) }}
			</div>
			<div class="group">
				<p>Contributing reporters</p>
				{{ credit.info('Jessica Floum', 'jfloum', 'jfloum' ) }}
				{{ credit.info('Joaquin Palomino', 'jpalomino', 'JoaquinPalomino' ) }}
			</div>
			<div class="group">
				<p>Graphics</p>
				<div class="entry">Todd Trumbull &bull;
					<a href="mailto:ttrumbull@sfchronicle.com">ttrumbull@sfchronicle.com</a>
				</div>
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
				{{ credit.info("Emma O'Neill", "eoneill", "emmaruthoneill" ) }}
			</div>
		</div>
	</div>

	{% import '_components/_related_stories.html' as related %}
	<div class="max">
		<hr>
		<div class="dont-miss-related">
			{{ related.story("SF Homeless Project", 'http://projects.sfchronicle.com/sf-homeless/', '../static/images/related/dont-miss-homeless.jpg') }}

			{{ related.story("Teachers struggle to stay in SF", 'http://projects.sfchronicle.com/2016/teacher-pay/', '../static/images/related/dont-miss-teacherpay.jpg') }}

			{{ related.story("Living with AIDS", 'http://projects.sfchronicle.com/2016/living-with-aids/', '../static/images/related/aids_special.png') }}

			{{ related.story("H-1B visas: who gets them, where they go", 'http://projects.sfchronicle.com/2016/visas/', '../static/images/related/dont-miss-visas.png') }}

		</div>
	</div>

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}

<!-- <script src="http://projects.sfchronicle.com/shared/js/pym.min.js"></script> -->

<script>
	$(document).ready(function() {
		App.init();
	});

	$(document).foundation();
</script>
{% endblock %}
