{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Scofflaws{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-07-24 00:00:00{% endblock %}
{% block author %}Lucio Villa, Emma O'Neill, Benjamin Din{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div class="background-img scofflaws">
		    <div class="dim"></div>
			<div class="over-img">
				<h1 class="title long">Most hosts ignore vacation-rental laws in San Francisco</h1>
				<p class="author">By <a href="mailto:csaid@sfchronicle.com">Carolyn Said</a></p>
				<p class="date">July 22, 2016</p>
			</div>
		</div>
	</div>

	<p class="caption landing">Staffers from the Office of Short-Term Rentals — Kevin Guy (left), director; Audrey Butkus and Adrian Putra, planners; and Omar Masry, senior administrative analyst — wait for people to arrive during a public information workshop at the Presidio Branch Library for vacation-rental hosts to learn about the city’s registration requirements.<span class="byline"> Leah Millis, The Chronicle</span></p>

	{% include '_text/scofflaws.html' %}

	<div class="dont-miss">
		<a href="{{ url_for('multiple') }}">
			<button>Next story</button>
			<div class="story multiple">
				<div class="next-story">Home-based hostels spring up on Airbnb</div>
				<div class="dim"></div>
			</div>
		</a>
	</div>

</main>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function() {
		App.init();
	});
</script>
{% endblock %}
